<!DOCTYPE html>
<html>
<head>
  <title>Login or Register</title>
</head>
<body>
  <h1>Please Login or Register To Save Recipe</h1>

<div>
    <h2>Login</h2>
    <form action="{{ url_for('login_or_register') }}" method="post">
        <input type="hidden" name="form_type" value="login">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Login">
    </form>
</div>

<div>
    <h2>Register</h2>
    <form action="{{ url_for('login_or_register') }}" method="post">
        <input type="hidden" name="form_type" value="register">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Register">
    </form>
</div>

</body>
</html>
